# Collection types

## 1. List
## 2. Tuple
## 3. set
## 4. Dictionary

In [2]:
#Accessing the list elements
list1 = [1,2,3,4,5]
print(list1[3])
list1[-1]
list[-3]

4

3

In [4]:
list1[1:4]

[2, 3, 4]

In [5]:
list1[0:5:2]

[1, 3, 5]

In [6]:
list1[0:]

[1, 2, 3, 4, 5]

In [7]:
list1[:2]

[1, 2]

In [9]:
list1[::2]

[1, 3, 5]

In [14]:
del list1[1]
list1

[1, 3]

In [15]:
list1=[1,2,3,4,5]
del list1[4]
list1

[1, 2, 3, 4]

In [16]:
list1[0] + list1[2]

4

In [17]:
len(list1)

4

In [18]:
print(list1 *3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [19]:
# Membership operators
6 in list1

False

In [20]:
3 in list1

True

In [21]:
list1

[1, 2, 3, 4]

In [28]:
for i in range(len(list1)):    
    print(i)

0
1
2
3

In [27]:
for i in range(len(list1)):    
    print(list1[i])

1
2
3
4

In [29]:
for i in range(len(list1)):    
    print(list1[i], end = " " )

1 2 3 4

In [31]:
#Functions used in a list
print(max(list1))
print(min(list1))
print(sum(list1))
sum(list1)/len(list1)

4
1
10

2.5

In [39]:
list1.append(7)
list1

[1, 2, 9, 3, 4, 7, 7, 7, 7, 7]

In [40]:
list1.insert(2,9)
list1

[1, 2, 9, 9, 3, 4, 7, 7, 7, 7, 7]

In [41]:
list1.count(7)

5

In [42]:
list1.pop()

7

In [43]:
list1.pop(5)

4

In [44]:
list1

[1, 2, 9, 9, 3, 7, 7, 7, 7]

In [46]:
list2=[6,7,8,9,3]
list1.extend(list2)    #  I pressed execute two times thats the reason list 2 is used in the extention for two times
list1

[1, 2, 9, 9, 3, 7, 7, 7, 7, 6, 7, 8, 9, 3, 6, 7, 8, 9, 3]

In [50]:
list1.reverse()
list1

[3, 9, 8, 7, 6, 3, 9, 8, 7, 6, 7, 7, 7, 7, 3, 9, 9, 2, 1]

In [51]:
list1.sort()
list1

[1, 2, 3, 3, 3, 6, 6, 7, 7, 7, 7, 7, 7, 8, 8, 9, 9, 9, 9]

# Tuples

In [53]:
tuple1 = (1,2,3,4,5)
type(tuple1)
print(tuple1)

(1, 2, 3, 4, 5)

# Dictionary

## Enclosed in flower braces {}

## Dictionary consists of key and value pairs seperated by a colon (:)

## Each key and value pair is seperated by a comma (,)

## Values can be varied but the key must a unique one.

In [58]:
# EXAMPLE
d1 = {"NAME":"GITAM","ROLL NUMBER":1234,"ADDRESS":"HYDERABAD"}
print(d1)

{'NAME': 'GITAM', 'ROLL NUMBER': 1234, 'ADDRESS': 'HYDERABAD'}

In [57]:
d1["NAME"]

'GITAM'

In [59]:
d1["E-Mail"] = "12234@gmail.com"
d1

{'NAME': 'GITAM',
 'ROLL NUMBER': 1234,
 'ADDRESS': 'HYDERABAD',
 'E-Mail': '12234@gmail.com'}

In [61]:
d1["COURSE"] = "PYTHON"
d1

{'NAME': 'GITAM',
 'ROLL NUMBER': 1234,
 'ADDRESS': 'HYDERABAD',
 'E-Mail': '12234@gmail.com',
 'COURSE': 'PYTHON'}

In [62]:
# to fetch all  keys 
d1.keys()

dict_keys(['NAME', 'ROLL NUMBER', 'ADDRESS', 'E-Mail', 'COURSE'])

In [64]:
d1.values()

dict_values(['GITAM', 1234, 'HYDERABAD', '12234@gmail.com', 'PYTHON'])

In [66]:
d1.items()

dict_items([('NAME', 'GITAM'), ('ROLL NUMBER', 1234), ('ADDRESS', 'HYDERABAD'), ('E-Mail', '12234@gmail.com'), ('COURSE', 'PYTHON')])

In [70]:
del d1["ADDRESS"]
d1

{'ROLL NUMBER': 1234, 'E-Mail': '12234@gmail.com', 'COURSE': 'PYTHON'}

# FInd the factorial of a number using a function

In [73]:
def fact(x):
    p=1
    x = int(input("Enter a number"))
    while x!=0:
        p=p*x
        x=x-1
    print(p)
fact(5)

Enter a number5
120

# CHECK WHETHER A NUMBER  IS A STRONG NUMBER OR NOT

In [3]:
def strong(x):
    sum=0
    num=x   
    while x!=0:
        p=1
        r=x%10
        while r!=0:
            p=p*r
            r=r-1
            
        sum=sum+p
        x=x//10
    if(sum==num):
        return  "strong no"
    else:
        return "not strong no"
x=int(input("Enter a number "))
strong(x)

Enter a number 58

'not strong no'

# TO Check whether a word is palindrome or not

In [7]:
str1 = "PvP"
print (str1)
print (str1[::-1])
if str1 == str1[::-1]:
    print ("Palindrome")
else:
    print ("Not a Palindrome")

PvP
PvP
Palindrome