# Introduction to Python

In [1]:
# For end of the stament it does not require to put a semicolon
print("Welcome to Python programming")

Welcome to Python programming

In [45]:
pwd

'C:\\Users\\exam'

In [2]:
print("Welcome to Python programming")
print("Welcome to Jupyter Notebook")

Welcome to Python programming
Welcome to Jupyter Notebook

In [3]:
x = 100546542
print(x)

100546542

In [10]:
x=-1
if(x>0):
    print("Joshua")
else:
    print("Aneesh")

Aneesh

In [21]:
x=25
if (x%5==0):
        print("Kapardi")
elif (x%25==0):
        print("Aneesh")
else:
        print("Joshua")

Kapardi

* *PRINT*
* **PRINT2**
* ***PRINT3***


# THE FLASH

![Image](https://files.cults3d.com/uploaders/13073908/illustration-file/a905a545-aeed-41e3-9dac-9100cf208c69/Flash_Logo_01_large.png)

 - Heading
     - ONE
     - Free

[1]https://www.wikipedia.org/

# Assignment

In [26]:
a=1
type(a)

int

In [29]:
name = "Aneesh"
age = 19
print("I am",name,"of age",age)

I am Aneesh of age 19

In [1]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=a+b
print(c)

enter a number1
enter a number5
6

In [3]:
a=float(input("enter a number"))
b=float(input("enter a number"))
c=a/b
print(c)

enter a number10.444
enter a number2.111
4.947418285172904

In [7]:
c= 1+3j
type(c)

complex

In [10]:
x= float(11)
x

11.0

In [11]:
z= complex(999,658)
z

(999+658j)

In [12]:
a=1
b=4
a>b

False

In [21]:
a=1000
type(a)
s1= str(a)
print(a)
type(a)

1000

int

In [22]:
z="input"
len(z)

5

In [27]:
n1=14
n2=7
print(n1+n2)
print(n1-n2)
print(n1*n2)
print(n1/n2)
print(n1%n2)
print(n1>n2)
print(n1<n2)
print(n1!=n2)
print(n1//n2)
print(n1**n2)

21
7
98
2.0
0
True
False
True
2
105413504

In [29]:
x=8
y=0
print(x>=5 and x<10)
print(x>=9 or x<10)
print(not(x))
print(not(y))

True
True
False
True

In [30]:
x=-1
if(x>0):
    print("Joshua")
else:
    print("Aneesh")

Aneesh

In [31]:
x=9
if (x%5==0):
        print("Kapardi")
elif (x%2==0):
        print("Aneesh")
else:
        print("Joshua")

Joshua

 #  Assignment Questions

## To Check whether a number is odd or even

In [36]:
a=int(input("enter a number"))
if a%2==0:
    print("It is even")
else :
    print("It is odd")

enter a number81
It is odd

## To check whether a number is a multiple of 3 and 5

In [39]:
a=int(input("enter a number"))
if a%3==0 and a%5 ==0:
    print("It is multiple of 3 and 5")
elif a%3==0 and a%5!=0:
    print("Multiple of 3 only")
elif a%3!=0 and a%5==0:
    print("Multiple of 5 only")
else :
    print("It is not multiple of 3 and 5")

enter a number25
Multiple of 5 only

## To check whether a year is a leap year or not

In [41]:
a=int(input("enter a year"))
if a%4==0:
    print("It is leap year")
else :
    print("It is not a leap year")

enter a year1895
It is not a leap year

## To find the greatest number of given three numbers

In [44]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("enter a number"))
if a>b and a>c:
    print("a is the greatest number")
elif b>a and b>c:
    print("b is the greatest number")
else :
    print("c is the greatest number")

enter a number5
enter a number8
enter a number2
b is the greatest number

## to check whether the alphabet is a vowel or not

In [ ]:
a=int(input("enter a "))
if a%4==0:
    print("It is leap year")
else :
    print("It is not a leap year")